* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* Header */
.welcome-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.welcome-text {
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
    font-size: 60px;
}

/* Navigation Pane */
.menu {
    list-style: none;
    text-align: center;
    margin-bottom: 10px;
    word-spacing: -1;
    background-color: rgb(19, 43, 43);
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
}

.menu-item {
    display: inline-block;
    text-align: center;
    padding-right: 100px;
    position: relative;
}

.menu, .sub-menu {
    list-style: none;
}

.menu-link {
    display: block;
    padding: 10px;
    /* transition:  all 0.5s; */
}

.sub-link {
    display: block;
    padding: 5px;
    transition: all 0.5s;
}

.menu-link .active, menu-link:hover, .sub-link:hover {
    background: rgb(19, 43, 43);
}

.menu-item:hover > .sub-menu {
    display: block;
    height:85px;
}

/* .sub-item:hover > .sub-menu {
    display: block;
} */

.sub-item {
    position: relative;
}

/* .sub-item .sub-menu {
    top:0;
    left: 0;
    width: 100%;
} */

.sub-item:hover > .sub-link {
    background: rgb(19, 43, 43);
}

.menu-item:hover .menu-link {
    background: rgb(19, 43, 43);

}

.sub-menu {
  /* display: none; */
  position: absolute;
  background:  rgb(19, 43, 43);
  top: 100%;
  left: 0;
  right: 0;
  height: 0;
  /* overflow: hidden; */
  transition: height 0.5s;
}

nav li a {
    text-decoration: none;
    color:olive;
    font-weight:bold;
    font-size: 30px;
}

/* Main */
.container {
word-spacing :-1ch;
width: 1200px;
margin-left: auto;
margin-right: auto;
}

.main-section {
    box-sizing: border-box;
    display: inline-block;
    width: 65%;
    vertical-align: top;
    word-spacing: normal;
}

/* Tiêu đề */
.main-title {
    display: block;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 900px;
    color: darkslategrey
}

/* Imgs on the main section */
.figure {
    width: 90%;
}

.caption {
    width: 728px;
    font-size: 14px;
    font-style: italic;
}

/* Paragraphs on the main section */
.main-text {
    display: block;
    line-height: 30px;
    width: 702px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    
}

/* Right section */
.right-section {
    box-sizing: border-box;
    display: inline-block;
    width: 30%;
    word-spacing: normal;
    margin-left: 50px;
    margin-top: 100px;
    float: right;
}

.potrait {
    display: block;
    width: 80%;
}

.potrait-description {
display: block;
text-align: left;

}

.img {
    width: 100%;
}

/* Footer */
.footer {
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    background-color: peru;
    height: 100px;
    text-indent: bottom;
}
