* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.welcome-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.welcome-text {
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
    font-size: 60px;
}

.menu {
    list-style: none;
    text-align: center;
    margin-bottom: 100px;
}

.menu-item {
    display: inline-block;
    text-align: center;
    padding-right: 30px;
    font-size: 30px;
}

.container {
word-spacing :-1ch;
width: 1200px;
margin-left: auto;
margin-right: auto;
}


.main-section {
    box-sizing: border-box;
    display: inline-block;
    width: 80%;
    vertical-align: top;
    word-spacing: normal;
}

.figure {
    width: 90%;
}

.caption {
    width: 728px;
    font-size: 22px;
    font-style: italic;
    margin-bottom: 70px;
}

.right-section {
    box-sizing: border-box;
    display: inline-block;
    width: 20%;
    word-spacing: normal;
}

.potrait-description {
text-align: left;

}

.img {
    width: 100%;
}
.potrait {
    display: block;
    width: 80%;
}

.footer {
    text-align: center;
    font-size: 30px;
    color: cornflowerblue;
    font-weight: 700;
}
