h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
p, p+i {
  margin-top: 50px;
  margin-right: 250px;
  margin-left: 250px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.highlight-peach {
    background-color: peachpuff;
}

.highlight-sand
{background-color:sandybrown ;
}

.italic 
    font-style: italic;
}

.font-increase {
    font-size: 20px;
}

.text-indent {
    text-indent: 30px;
}

.text-bold {
    font-weight: bold;
}

.caption-indent {
    text-indent:340px;
}